@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue UltraLight';
  src: local('Helvetica Neue UltraLight'), local('Helvetica-Neue-UltraLight'),
    local('HelveticaNeue UltraLight'), local('HelveticaNeue-UltraLight');
  src: url('../assets/fonts/HelveticaNeue-UltraLight.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue UltraLight Italic';
  src: local('Helvetica Neue UltraLight Italic'),
    local('Helvetica-Neue-UltraLight-Italic'),
    local('HelveticaNeue UltraLight Italic'),
    local('HelveticaNeue-UltraLight-Italic');
  src: url('../assets/fonts/HelveticaNeue-UltraLight-Italic.otf')
    format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue Light';
  src: local('Helvetica Neue Light'), local('Helvetica-Neue-Light'),
    local('HelveticaNeue Light'), local('HelveticaNeue-Light');
  src: url('../assets/fonts/HelveticaNeue-Light.otf') format('opentype');
}
