:root {
  /* colors */
  --color-neutral-00: #fefefe;
  --color-neutral-10: #f5f5f5;
  --color-neutral-40: #d9d9d9;

  --color-primary-15: #ecd7d7;
  --color-primary-25: #77c0af;

  --color-text-40: #d9d9d9;
  --color-text-50: #777777;
  --color-text-60: #4d4d4d;
  --color-text-15: #ecd7d7;

  /* sizes */
  --input-height: 4.1rem;
  --item-height: 3.7rem;
  --status-height: 2.5rem;
  --icon-width: var(--input-height);
  --icon-height: var(--input-height);
}
