.btn {
  cursor: pointer;
  color: #777;
  font-size: 14px;
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: border-color 0.3s ease;

  :hover {
    border-color: rgba(175, 47, 47, 0.1);
  }
}

.btnActive {
  border-color: rgba(175, 47, 47, 0.2);
}
