.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--item-height);
}

.btn {
  position: relative;
  display: grid;
  place-items: center;
  width: var(--icon-width);
  height: 100%;
  color: var(--color-text-40);
  cursor: pointer;

  &:hover {
    color: var(--color-text-50);
  }
}

.dropdownBtn {
  transition: all 0.3s ease-out;

  & > div {
    line-height: 0;
    scale: 1.5;
  }
}

.dropdownBtnExpanded {
  transform: rotate(90deg);
}

.input {
  flex-grow: 1;
  font-size: 24px;
  border: none;
  color: var(--color-text-60);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &::placeholder {
    font-style: italic;
    color: var(--color-text-40);
  }
}

.addBtn {
  transition: color 0.3s ease;

  & > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 2.5rem;
  }
}
