.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--status-height);
  padding: 0 0.40625rem 0 0.9375rem;
  height: 40px;
  font-size: 14px;
  color: var(--color-text-50);
  border-top: 1px solid var(--color-neutral-10);
}

.items {
  flex: 1;
}

.filters {
  flex: 2;
  display: flex;
  padding-left: 2.75rem;
  justify-content: left;
  gap: 0.575rem;
}

.btnClear {
  &:hover {
    background-color: var(--color-neutral-40) !important;
  }
}
