:root {
  --app-width: 36.5rem;
  --page-height: 0.325rem;
  --page-width: 0.2rem;
  --app-padding-x: 1rem;
}

.app {
  max-width: var(--app-width);
  margin: 5rem auto;
  padding: 0 var(--app-padding-x);
}

.title {
  font-family: 'Helvetica Neue UltraLight', system-ui;
  font-weight: 100;
  font-size: 6.25rem;
  text-align: center;
  color: var(--color-text-15);
  margin-bottom: 0.3rem;
}

.content {
  background: var(--color-neutral-00);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2),
    4px 0px 16px 0px rgba(0, 0, 0, 0.1);
}

.pageFirst,
.pageSecond {
  position: relative;
  width: calc(
    var(--app-width) - 2 * var(--app-padding-x) - 2 * var(--page-width)
  );
  height: var(--page-height);
  margin: 0 auto;
  background: var(--color-neutral-00);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.pageFirst {
  z-index: -10;
}

.pageSecond {
  width: calc(
    var(--app-width) - 2 * var(--app-padding-x) - 4 * var(--page-width)
  );
  z-index: -20;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 4px 0px 16px 0 rgba(0, 0, 0, 0.1);
}
