.app {
  max-width: 36.5rem;
  margin: 5rem auto;
  padding: 0 1rem;
}

.title {
  font-family: 'Helvetica Neue UltraLight', system-ui;
  font-size: 6.25rem;
  font-weight: 100;
  text-align: center;
  color: var(--color-text-15);
  margin-bottom: 0.3rem;
}

.content {
  background: var(--color-neutral-00);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
