:root {
  --app-width: 36.5rem;
  --page-height: 0.325rem;
  --page-width: 0.2rem;
  --app-padding-x: 1rem;
}

.app {
  max-width: var(--app-width);
  margin: 5rem auto;
  padding: 0 var(--app-padding-x);
}

.title {
  font-family: 'Helvetica Neue UltraLight', system-ui;
  font-weight: 100;
  font-size: 6.25rem;
  text-align: center;
  color: var(--color-text-15);
  margin-bottom: 0.3rem;
}

.content {
  background: var(--color-neutral-00);
  box-shadow: 0rem 0.0625rem 0.0625rem 0rem var(--color-secondary-85),
    0.25rem 0rem 1rem 0rem var(--color-secondary-75);
}

.pageFirst,
.pageSecond {
  position: relative;
  width: calc(
    var(--app-width) - 2 * var(--app-padding-x) - 2 * var(--page-width)
  );
  height: var(--page-height);
  margin: 0 auto;
  background: var(--color-neutral-00);
  box-shadow: 0 0.0625rem 0.0625rem 0 var(--color-secondary-85);
}

.pageFirst {
  z-index: -10;
}

.pageSecond {
  width: calc(
    var(--app-width) - 2 * var(--app-padding-x) - 4 * var(--page-width)
  );
  z-index: -20;
  box-shadow: 0 0.0625rem 0.0625rem 0 var(--color-secondary-85),
    0.25rem 0rem 1rem 0 var(--color-secondary-75);
}
