.app {
  max-width: 34.3775rem;
  margin: 5rem auto;
  padding: 1rem;
}

.app__title {
  font-size: 6rem;
  font-weight: 100;
  text-align: center;
  color: var(--color-text-15);
  margin-bottom: 1rem;
}
