@import './styles/vars.css';
@import './styles/fonts.css';
@import './styles/reset.css';

body {
  font-family: 'Helvetica Neue Light', system-ui;
  font-weight: 300;
  background-color: var(--color-neutral-10);
  color: var(--color-text-60);
}

.btn {
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  border: 0.1rem solid transparent;
  border-radius: 0.25rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-primary-15);
  }

  &:active {
    scale: 1.1;
  }
}
