@import './styles/vars.css';
@import './styles/fonts.css';
@import './styles/reset.css';

body {
  font-family: 'Helvetica Neue Light', system-ui;
  font-weight: 300;
  background-color: var(--color-neutral-10);
  color: var(--color-text-60);
}
